body{
    margin: 0;
    background-color: rgba(106, 55, 33, 0.86);
    color: #131D26;
 }
 header{
    background-color: rgba(138, 74, 46, 0.86);
    color: white;
}
 footer{
   background-color: rgba(2,7,31,0.86); 
   color: white;
 }
 .container{
    max-width:1400px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    justify-content:space-between ;
 }
 .logo{
    height: 46px;
 }
 header ul{
    list-style: none;
    display: flex;
    color: white;
 }
 header li {
 display: block;
 padding: 10px 18px;
 color: white;
 text-decoration: none;
 }
 
 .hero{
    height: 400px;
    background-image: url(https://assets.codepen.io/6306176/gulp-couple-talking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 
 
 }
 .heroContent{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
 }
 .hero h1{
    margin: 0;
    width: 300px;
 }
 .imageArticle img{
    width: 30;
    height: 600px;
    object-fit: cover;
 }
 a{
    color: #59331D;
    text-decoration: none;
 }
 .btnPrimary{
    display: inline-block;
    background-color: #131D26;
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
 }
 .media img{
    height: 32px;
 }
 .imageArticle{
    display: flex ! IMPORTANT;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
}
.content{
     color: #000000;
padding: 10%;
}
.content2{
    color: #000000;
}
.secondchild{
    color: #000000;
}
.coffesection{
    margin: 0 auto;
    padding-top: 5%;
    display: flex;

}
.child1{
   background-color: rgba(203, 243, 236, 0.986);
    width: 35%;
    color: #000000;
    margin: 30px;
    text-align: center;
    padding: 5%;
    font-weight: bold;
}
#coffeebeans{
    background-image: url(../images/coffeebeans\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisanblends{
background-image: url(../images/artisancoffee\ 3.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#signatureblends{
background-image: url(../images/signatureblends\ 3.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

